In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Dataset_click.csv')

# Display the first few rows of the dataframe
print(df.head())

  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       28400   546652   -10          4
1         AAA             2013J       28400   546652   -10          1
2         AAA             2013J       28400   546652   -10          1
3         AAA             2013J       28400   546614   -10         11
4         AAA             2013J       28400   546714   -10          1

In [3]:
import pandas as pd

# Load the CSV file
data = pd.read_csv('Dataset_click.csv')

# Display the first few rows of the dataset
data.head()

  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       28400   546652   -10          4
1         AAA             2013J       28400   546652   -10          1
2         AAA             2013J       28400   546652   -10          1
3         AAA             2013J       28400   546614   -10         11
4         AAA             2013J       28400   546714   -10          1

In [5]:
import pandas as pd

# Load the CSV file
student_data = pd.read_csv('studentInfo_unique_module.csv')

# Display the first few rows of the dataset
student_data.head()

,code_module,code_presentation,id_student,gender,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,module_presentation
0,AAA,2013J,11391,1,HE Qualification,10,55<=,0,240,N,Pass,AAA_2013J
1,BBB,2013B,23629,0,Lower Than A Level,3,0-35,2,60,N,Fail,BBB_2013B
2,CCC,2014B,28418,0,A Level or Equivalent,3,0-35,0,30,N,Fail,CCC_2014B
3,DDD,2013B,24213,0,A Level or Equivalent,5,0-35,0,90,N,Withdrawn,DDD_2013B
4,EEE,2013J,26915,1,Lower Than A Level,1,35-55,0,30,N,Fail,EEE_2013J

In [7]:
import pandas as pd

# Load the CSV file
student_info_edit = pd.read_csv('studentInfoedit - studentInfoedit.csv')

# Display the first few rows of the dataset
student_info_edit.head()

,code_module,code_presentation,id_student,gender,imd_band,highest_education,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,90-100%,HE Qualification,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,20-30%,HE Qualification,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,30-40%,A Level or Equivalent,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,50-60%,A Level or Equivalent,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,50-60%,Lower Than A Level,0-35,0,60,N,Pass

In [9]:
import pandas as pd

# Load the CSV file
student_info_edit = pd.read_csv('studentInfoedit - studentInfoedit.csv')

# Display the first few rows of the dataset
print(student_info_edit.head())

  code_module code_presentation  id_student gender imd_band  \
0         AAA             2013J       11391      M  90-100%
1         AAA             2013J       28400      F   20-30%
2         AAA             2013J       30268      F   30-40%
3         AAA             2013J       31604      F   50-60%
4         AAA             2013J       32885      F   50-60%

       highest_education age_band  num_of_prev_attempts  studied_credits  \
0       HE Qualification     55<=                     0              240
1       HE Qualification    35-55                     0               60
2  A Level or Equivalent    35-55                     0               60
3  A Level or Equivalent    35-55                     0               60
4     Lower Than A Level     0-35                     0               60

  disability final_result
0          N         Pass
1          N         Pass
2          Y    Withdrawn
3          N         Pass
4          N         Pass

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Assume 'final_result' is the dependent variable
# Assume 'study', 'credit', 'dependent', 'independent_credit' are the independent variables
# Convert categorical variables to numeric using dummy variables if necessary

# Example: If 'pass_or_fail' is categorical, you might need to encode it
if student_info_edit['pass_or_fail'].dtype == 'object':
    student_info_edit['pass_or_fail'] = student_info_edit['pass_or_fail'].apply(lambda x: 1 if x == 'pass' else 0)

# Define X (independent variables) and y (dependent variable)
X = student_info_edit[['study', 'credit', 'dependent', 'independent_credit']]
y = student_info_edit['final_result']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the regression model
model = LinearRegression()

# Fit the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the results
print("Mean Squared Error:", mse)
print("R^2 Score:", r2)

KeyError: 'pass_or_fail'

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('elt_file.csv')

# Display the first few rows of the dataframe
print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'elt_file.csv'